{
  "http_interactions": [
    {
      "request": {
        "method": "GET",
        "uri": "https://openlibrary.org/api/books?bibkeys=ISBN:9780142437230&format=json&jscmd=data"
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "body": "{\"ISBN:9780142437230\":{\"title\":\"Don Quixote\",\"authors\":[{\"name\":\"Miguel de Cervantes Saavedra\",\"url\":\"https://openlibrary.org/authors/OL26320A/Miguel_de_Cervantes_Saavedra\"}],\"publishers\":[{\"name\":\"Penguin Classics\"}],\"publish_date\":\"2003\",\"cover\":{\"small\":\"https://covers.openlibrary.org/b/id/8739161-S.jpg\",\"medium\":\"https://covers.openlibrary.org/b/id/8739161-M.jpg\",\"large\":\"https://covers.openlibrary.org/b/id/8739161-L.jpg\"}}}"
      }
    }
  ]
}
